csv.file=/Users/victor.ortega/personal_projects/kafka/commodity/10lines.csv
tmp.directory=/Users/victor.ortega/personal_projects/kafka/commodity/tmp
#csv.file=/Users/victor.ortega/personal_projects/kafka/commodity/1000lines.csv
#csv.file=/Users/victor.ortega/personal_projects/kafka/commodity/commodity_trade_statistics_data.csv
kafka.topic=assessmentVO
kafka.server=host.minikube.internal
kafka.port=9092